<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.opengles">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <!--高德地图-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".main.OpenGlApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenGLES">

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".graphic.TriangleActivity" />
        <activity android:name=".graphic.TriangleModalActivity" />
        <activity android:name=".graphic.TriangleColorActivity" />
        <activity android:name=".graphic.TriangleMatrixActivity" />
        <activity android:name=".graphic.SquareActivity" />
        <activity android:name=".graphic.CircleActivity" />
        <activity android:name=".graphic.CubeActivity" />
        <activity android:name=".graphic.ConeActivity" />
        <activity android:name=".graphic.CylinderActivity" />
        <activity android:name=".graphic.BallActivity" />
        <activity android:name=".graphic.TextureActivity" />
        <activity android:name=".graphic.TextureTwoActivity" />
        <activity android:name=".graphic.TextureColorfulActivity" />
        <activity android:name=".graphic.TextureEnlargeMatrixActivity" />
        <activity android:name=".graphic.TextureEnlargeActivity" />
        <activity android:name=".graphic.TransformActivity" />
        <activity android:name=".graphic.FrameBufferActivity" />
        <activity android:name=".surface.SurfaceViewActivity" />
        <activity android:name=".surface.SurfaceViewVideoActivity" />
        <activity android:name=".surface.TextureViewVideoActivity" />
        <activity android:name=".surface.GLSurfaceViewVideoActivity" />
        <activity android:name=".surface.GLSurfaceViewAlphaVideoActivity" />
        <activity android:name=".surface.GLTextureViewAlphaVideoActivity" />
        <activity android:name=".camera.Camera1SurfaceViewActivity" />
        <activity android:name=".camera.Camera1TextureViewActivity" />
        <activity android:name=".camera.Camera1GLSurfaceViewActivity" />
        <activity android:name=".camera.Camera1GLSurfaceViewTakePhotoActivity" />
        <activity android:name=".camera.Camera1TakePhotoGLSurfaceViewActivity" />
        <activity android:name=".gaussian.GaussianComplexActivity" />
        <activity android:name=".gaussian.GaussianHorActivity" />
        <activity android:name=".gaussian.GaussianVerActivity" />
        <activity android:name=".gaussian.GaussianHorVerActivity" />
        <activity android:name=".gaussian.GaussianHorVerMultiActivity" />
        <activity android:name=".gaussian.GaussianVideoPlayerActivity" />
        <activity android:name=".gaussian.GaussianViewActivity" />
        <activity android:name=".egl.EGLActivity" />
        <activity android:name=".egl.EGLCamera1PreviewActivity" />
        <activity android:name=".egl.EGLCamera1FBOPreviewActivity" />
        <activity android:name=".egl.EGLCamera1FBOPreviewWaterMarkActivity" />
        <activity android:name=".record.camera1.EGLCamera1RecordActivity" />
        <activity android:name=".record.camera1.EGLCamera1Record4SameTimeActivity" />
        <activity android:name=".record.camera2.surfaceview.Camera2SurfaceView4PreviewActivity" />
        <activity android:name=".record.camera2.glsurfaceview.Camera2GLSurfaceView4PreviewActivity" />
        <activity android:name=".record.camera2.glrecord.Camera2GLSurfaceView4RecordActivity" />
        <activity android:name=".record.camera2.glrecorddouble.Camera2GLSurfaceViewDoubleRecordActivity" />
        <activity android:name=".record.camera2.glrecordconcat.Camera2GLSurfaceViewConcatRecordActivity" />
        <activity android:name=".record.camera2.eglsurfaceview.Camera2EGLSurfaceView4PreviewActivity" />
        <activity android:name=".record.camera2.eglrecord.EGLCamera2GLSurfaceView4RecordActivity" />
        <activity android:name=".map.MapViewGaussianActivity" />
        <activity android:name=".map.MapViewGaussianActivity2" />
        <activity android:name=".helper.VideoPlayerActivity" />
        <activity android:name=".pcm.PcmRecordActivity" />
        <activity android:name=".leak.LeakGlSurfaceViewActivity" />
        <activity android:name=".world.WorldActivity" />

    </application>

</manifest>