<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.opengles">

    <application
        android:name=".main.OpenGlApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenGLES">

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".graphic.TriangleActivity" />
        <activity android:name=".graphic.TriangleModalActivity" />
        <activity android:name=".graphic.TriangleColorActivity" />
        <activity android:name=".graphic.TriangleMatrixActivity" />
        <activity android:name=".graphic.SquareActivity" />
        <activity android:name=".graphic.CircleActivity" />
        <activity android:name=".graphic.CubeActivity" />
        <activity android:name=".graphic.ConeActivity" />
        <activity android:name=".graphic.CylinderActivity" />
        <activity android:name=".graphic.BallActivity" />
        <activity android:name=".graphic.TextureActivity" />
        <activity android:name=".graphic.TextureColorfulActivity" />
        <activity android:name=".graphic.TextureEnlargeMatrixActivity" />
        <activity android:name=".graphic.TextureEnlargeActivity" />
        <activity android:name=".graphic.TransformActivity" />
        <activity android:name=".surface.SurfaceViewActivity" />
        <activity android:name=".surface.SurfaceViewVideoActivity" />
        <activity android:name=".surface.TextureViewVideoActivity" />


    </application>

</manifest>